
.content{
	height:500px;
	width:600px;
	background-color:#c3E457;
	margin-top: 20px;
	border-radius: 20px;
	margin: auto;
}
h1{
	text-align: center;
	
}
form {
      margin-top: 20px;
	  padding-left:10px;
    }

    label {
     font-weight: bold;
	 padding-left:10px;
	 font-size: 20px;
    }

    input {
      padding: 8px;
      margin-bottom: 10px;
    }

    button {
      padding: 10px;
      margin: 5px;
      cursor: pointer;
    }
.ans{
	font-weight: bold;
	padding-top: 20px;
	padding-left: 40px;
	font-size: 15px;
}
h{
	font-weight: bold;
	padding-top: 20px;
	padding-left: 0px;
	font-size: 20px;
	text-decoration: underline;
}